src/*.o
src/*.lo
src/.deps
src/.libs
src/Makefile.in
src/Makefile
Makefile
Makefile.in
config.guess
config.log
config.status
aclocal.m4
autom4te.cache
conf/gridftp-inetd.conf
config.sub
configure
install-sh
scripts/gridftp-hdfs-standalone
scripts/init/gridftp-hdfs
scripts/xinetd/gridftp-hdfs
scripts/xinetd/gridftp-hdfs-inetd
src/libglobus_gridftp_server_hdfs.la
release_dir
depcomp
libtool
ltmain.sh
missing
